# Start Electron changes
# Many of these tweaks are thanks to AK, Franco, and Nathan Chancellor. 
import /init.spectrum.rc

on post-fs
    setprop ro.sys.sdcardfs true

on property:sys.boot_completed=1
    # Re-enable retention idle state
    write /sys/module/lpm_levels/system/a53/cpu0/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a53/cpu1/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a53/cpu2/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a53/cpu3/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a57/cpu4/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a57/cpu5/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a53/a53-l2-retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a57/a57-l2-retention/idle_enabled 1

    # Disable some wakelocks
    write /sys/module/wakeup/parameters/enable_wlan_rx_wake_ws 0
    write /sys/module/wakeup/parameters/enable_wlan_ctrl_wake_ws 0
    write /sys/module/wakeup/parameters/enable_wlan_wake_ws 0
    write /sys/module/wakeup/parameters/enable_msm_hsic_ws 0
    write /sys/module/wakeup/parameters/enable_qcom_rx_wakelock_ws 0
    write /sys/module/wakeup/parameters/enable_netlink_ws 0
    write /sys/module/wakeup/parameters/enable_ipa_ws 0
    write /sys/module/wakeup/parameters/enable_timerfd_ws 0

    # Start Power tweaks
    exec u:r:init:s0 root root -- /init.special_power.sh
    exec u:r:su:s0 root root -- /init.special_power.sh

    # Disable Touchboost
    write /sys/module/msm_performance/parameters/touchboost 0

    # Set I/O Scheduler tweaks
    write /sys/block/mmcblk0/queue/scheduler maple
    write /sys/block/mmcblk0/queue/read_ahead_kb 512
    write /sys/block/mmcblk0/queue/iosched/writes_starved 4
    write /sys/block/mmcblk0/queue/iosched/fifo_batch 16
    write /sys/block/mmcblk0/queue/iosched/sync_read_expire 350
    write /sys/block/mmcblk0/queue/iosched/sync_write_expire 550
    write /sys/block/mmcblk0/queue/iosched/async_read_expire 250
    write /sys/block/mmcblk0/queue/iosched/async_write_expire 450
    write /sys/block/mmcblk0/queue/iosched/sleep_latency_multiple 10

    # Set cpuset background CPUs
    write /dev/cpuset/background/cpus 0-2
   
    # Enable ZSwap
    write /sys/module/zswap/parameters/enabled Y
    
    # Set Swappiness
    write /proc/sys/vm/swappiness 8

    # Enable Laptop Mode
    write /proc/sys/vm/laptop_mode 1

    # Enable PDesireAudio
    write /sys/modules/snd_soc_wcd9330/uhqa_mode_pdesireaudio 1

    # Don't treat storage as rotational
    write /sys/block/mmcblk0/queue/rotational 0

    # Enable Fingerprint boost
    write /sys/kernel/fp_boost/enabled 1
