# Tweaks thanks to fransiscofranco
service special_power /init.special_power.sh
    disabled
    oneshot

on property:sys.boot_completed=1
    # Re-enable retention idle state
    write /sys/module/lpm_levels/system/a53/cpu0/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a53/cpu1/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a53/cpu2/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a53/cpu3/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a57/cpu4/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a57/cpu5/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a53/a53-l2-retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a57/a57-l2-retention/idle_enabled 1

    # Process Reclain
    write /sys/module/process_reclaim/parameters/enable_process_reclaim 1
    write /sys/module/process_reclaim/parameters/pressure_min 50
    write /sys/module/process_reclaim/parameters/pressure_max 70
    write /sys/module/process_reclaim/parameters/per_swap_size 512
    write /sys/module/process_reclaim/parameters/swap_opt_eff 30

    # Disable some Wlan wakelocks
    write /sys/module/wakeup/parameters/enable_wlan_rx_wake_ws 1
    write /sys/module/wakeup/parameters/enable_wlan_ctrl_wake_ws 1
    write /sys/module/wakeup/parameters/enable_wlan_wake_ws 1

    # Start Power tweaks
    start special_power

    # Set Electron profile for Interactive
    # Based on Alcolawl's Scripts and GhostPepper
    # Created by SoniCron
    # Version 1.1

    # Apply settings to LITTLE cluster
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads 16 460800:26 600000:45 672000:66 787200:80 864000:94 960000:96 1248000:98 1478000:100
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack -1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 384000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 10000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay 20000 460800:10000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 200
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 55000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/max_freq_hysteresis 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration 0
    # Apply settings to big cluster
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 633600
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads 32 768000:45 864000:56 960000:70 1248000:76 1344000:85 1440000:92 1536000:95 1632000:98 1728000:99 1824000:100
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack -1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq 633600
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate 40000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay 40000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 200
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time 40000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/max_freq_hysteresis 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration 0
    # Apply boost and thermal settings
    write /sys/module/cpu_boost/parameters/input_boost_enabled 0
    write /sys/module/cpu_boost/parameters/input_boost_freq 0:0 1:0 2:0 3:0 4:0 5:0 6:0 7:0
    write /sys/module/cpu_boost/parameters/boost_ms 0
    write /sys/module/cpu_boost/parameters/input_boost_ms 40
    write /sys/module/msm_performance/parameters/touchboost 0
    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/module/msm_thermal/parameters/enabled Y
# Set Electron profile for Interactive
# Based on Alcolawl's Scripts and GhostPepper
# Created by SoniCron
# Version 1.1
on property:sys.boot_completed=1
    # Apply settings to LITTLE cluster
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads 16 460800:26 600000:45 672000:66 787200:80 864000:94 960000:96 1248000:98 1478000:100
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack -1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 384000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 10000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay 20000 460800:10000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 200
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 55000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/max_freq_hysteresis 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration 0
    # Apply settings to big cluster
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 633600
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads 32 768000:45 864000:56 960000:70 1248000:76 1344000:85 1440000:92 1536000:95 1632000:98 1728000:99 1824000:100
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack -1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq 633600
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate 40000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay 40000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 200
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time 40000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/max_freq_hysteresis 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration 0
    # Apply boost and thermal settings
    write /sys/module/cpu_boost/parameters/input_boost_enabled 0
    write /sys/module/cpu_boost/parameters/input_boost_freq 0:0 1:0 2:0 3:0 4:0 5:0 6:0 7:0
    write /sys/module/cpu_boost/parameters/boost_ms 0
    write /sys/module/cpu_boost/parameters/input_boost_ms 40
    write /sys/module/msm_performance/parameters/touchboost 0
    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/module/msm_thermal/parameters/enabled Y
